<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SmartFlow Traffic Manager - Choose Location</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h2>Select a camera from the given options:</h2>
    <form method="POST" action="/landing_page">
      <div class="form-group">
        <select class="form-control" name="choice">
          <option value="Jackson Hole Wyoming USA Town Square Live Cam">Jackson Hole Wyoming USA Town Square Live Cam
          </option>
          <option value="Sapporo Hokkaido Japan Live 24/7">Sapporo Hokkaido Japan Live 24/7</option>
          <option value="4 Corners Camera Downtown">4 Corners Camera Downtown</option>
          <option value="Main Street Livecam, Canmore, Alberta">Main Street Livecam, Canmore, Alberta</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>

  <!-- Bootstrap JS and jQuery (necessary for dropdown functionality) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>